.App {
  text-align: center;
}

.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
}
.calc-body {
  max-width: 390px;
  margin: auto;
}
.buttons {
  display: block;
  background-color: #bbb;
}
.buttons button {
  width: 20%;
  height: 60px;
  font-size: 30px;
}
